VITE_SUPABASE_URL=https://zwyrjwnkkbmiavpwgtmr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp3eXJqd25ra2JtaWF2cHdndG1yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAzNTI4NzMsImV4cCI6MjEwNTkyODg3M30.eixaj5VhHKkZ57yqy1Bk3w9nC-a4iZHp3llMjktxxxU
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_DyIG7InG8kmJCfxuyMaPKw_Gbhxkch_
